
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
    width: 60%;
    margin-left: 20%;
    margin-top: 10%;
    display: inline-block; /*  jei bent 1 vaiko elementas turi float */
}
div {
    width: 30%;
    float: left;
}
img {
    width: 60%;
    float: right;
}
h1 {
    font-size: 100px;
    font-weight: bold;
    font-style: italic;
    color:cornflowerblue;
    margin-top: 50px;
}
p {
    font-size: 20px;
    color: grey;
    text-transform: uppercase;
}

/* priverstinis elementu nustumimas (horizontaliai) nurodyta kryptimi:
float: left;
float: right;

Paprastas (standartizuotas) budas kurti universalia puslapio struktura (Visiems inside body elementas parasyti sias css komandas):
display: inline-block;
width: 100%;
float: left;

labiausiai teviskas elementas turi buti display: inline-block; (sio elemento vaikams galima palikti tik float)


*/
